extends layout

block content
    h1 Set Base Prices
    h2 And Weights
    form(method="post", class="uk-form-horizontal")
        fieldset.uk-fieldset
            legend.uk-legend Set Prices
            
            
            ul(class="uk-subnav uk-subnav-pill", uk-switcher)
                li
                    a(href="#") Settings
                li
                    a(href="#") Ore
                li
                    a(href="#") Minerals
                li
                    a(href="#") Planetary Materials
                li
                    a(href="#") Salvage
                li
                    a(href="#") Datacores

            ul(class="uk-switcher uk-margin")
                li
                    div(class="uk-grid uk-child-width-auto uk-animation-fade")
                        div(class="uk-card uk-card-default uk-card-body")
                            h3(class="uk-card-title") Password
                            div(class="uk-form-controls")
                                input(class="uk-input", id="form-password", name="form-password", type="password", required="true")
                        
                        div(class="uk-card uk-card-default uk-card-body")
                            h3(class="uk-card-title") Sell Order Weight
                            - var sellWeight = weights['sell_weight']
                            h4 Purchasing from Miners
                            p Current Sell Weight: #{sellWeight}
                            input(class="uk-input", id="new-sell-weight", value="#{sellWeight}", onchange="updateSellWeight(this.value, false);")
                            label(class="uk-form-label", for="form-sell-weight") Sell Weight
                            div(class="uk-form-controls")
                                input(class="uk-range", type="range", id="form-sell-weight", name="form-sell-weight", value="#{sellWeight}", min="0", max="1", step="0.01", onchange="updateSellWeight(this.value, true);")
                        div(class="uk-card uk-card-default uk-card-body")
                            h3(class="uk-card-title") Sell Order Weight
                            - var buyWeight = weights['buy_weight']
                            h4 Selling to Indy
                            p Current Buy Weight: #{buyWeight}
                            input(class="uk-input", id="new-buy-weight", value="#{buyWeight}", onchange="updateBuyWeight(this.value, false);")
                            label(class="uk-form-label", for="form-buy-weight") Buy Weight
                            div(class="uk-form-controls")
                                input(class="uk-range", type="range", id="form-buy-weight", name="form-buy-weight", value="#{buyWeight}", min="1", max="2", step="0.01", onchange="updateBuyWeight(this.value, true);")
                li
                    div(class="uk-grid uk-child-width-auto uk-animation-fade")
                        each val, key in ores
                            div(class="uk-card uk-card-secondary uk-card-body")
                                h3(class="uk-card-title") #{key}
                                img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                                p Current Price: #{val.toLocaleString(undefined)} ISK
                                label(class="uk-form-label", for="form-#{key}") New Price
                                div(class="uk-form-controls")
                                    input(class="uk-input", id="form-#{key}", name="form-#{key}", type="float", min="0", value="#{val}", required="true")
                li
                    div(class="uk-grid uk-child-width-auto uk-animation-fade")
                        each val, key in minerals
                            div(class="uk-card uk-card-secondary uk-card-body")
                                h3(class="uk-card-title") #{key}
                                img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                                p Current Price: #{val.toLocaleString(undefined)} ISK
                                label(class="uk-form-label", for="form-#{key}") New Price
                                div(class="uk-form-controls")
                                    input(class="uk-input", id="form-#{key}", name="form-#{key}", type="float", min="0", value="#{val}", required="true")
                li
                    div(class="uk-grid uk-child-width-auto uk-animation-fade")
                        each val, key in planetary
                            div(class="uk-card uk-card-secondary uk-card-body")
                                h3(class="uk-card-title") #{key}
                                img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                                p Current Price: #{val.toLocaleString(undefined)} ISK
                                label(class="uk-form-label", for="form-#{key}") New Price
                                div(class="uk-form-controls")
                                    input(class="uk-input", id="form-#{key}", name="form-#{key}", type="float", min="0", value="#{val}", required="true")
                li
                    div(class="uk-grid uk-child-width-auto uk-animation-fade")
                        each val, key in salvage
                            div(class="uk-card uk-card-secondary uk-card-body")
                                h3(class="uk-card-title") #{key}
                                img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                                p Current Price: #{val.toLocaleString(undefined)} ISK
                                label(class="uk-form-label", for="form-#{key}") New Price
                                div(class="uk-form-controls")
                                    input(class="uk-input", id="form-#{key}", name="form-#{key}", type="float", min="0", value="#{val}", required="true")
                li
                    div(class="uk-grid uk-child-width-auto uk-animation-fade")
                        each val, key in datacores
                            div(class="uk-card uk-card-secondary uk-card-body")
                                h3(class="uk-card-title") #{key}
                                img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                                p Current Price: #{val.toLocaleString(undefined)} ISK
                                label(class="uk-form-label", for="form-#{key}") New Price
                                div(class="uk-form-controls")
                                    input(class="uk-input", id="form-#{key}", name="form-#{key}", type="float", min="0", value="#{val}", required="true")
            div(class="uk-card uk-card-default uk-card-body uk-width-1-1")
                div(class="uk-form-controls")
                    input(class="uk-input uk-button-primary", id="form-submit", type="submit", value="Set Prices", formaction="")

