extends layout

block content
  form(action="/buyContract", method="post", class="uk-form-horizontal")
    fieldset.uk-fieldset
      div(class="uk-flex uk-flex-center uk-margin")
        div(class="uk-card uk-card-default uk-card-body uk-width-1-1")
          h3(class="uk-card-title") Character Name
          div(class="uk-form-controls")
            input(class="uk-input", id="form-character-name", name="form-character-name", type="text", required="true")
      div(class="uk-flex uk-flex-center uk-margin")
        div(class="uk-card uk-card-default uk-card-body uk-width-1-1")
          h3(class="uk-card-title") Discord Name
          p (Actual name, e.g. asdf#1234)
          div(class="uk-form-controls")
            input(class="uk-input", id="form-discord-name", name="form-discord-name", type="text", required="true")
      
      ul(class="uk-subnav uk-subnav-pill", uk-switcher)
        each list, material in materialList
          li
            a(href="#") #{material}
      
      ul(class="uk-switcher uk-margin")
        each list, material in materialList
          li
            div(class="uk-grid uk-child-width-auto uk-animation-fade")
              each val, key in list
                  div(class="uk-card uk-card-secondary uk-card-body")
                    h3.uk-card-title #{key}
                    img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                    p Price Offered: #{val['price'].toLocaleString(undefined)} ISK
                    p Demand: #{val['demand']}
                    label(class="uk-form-label", for="form-#{key}") Units
                    div(class="uk-form-controls")
                      input(class="uk-input", id="form-#{key}", name="form-#{key}", type="number", min="0", value="0", required="true")
      
      div(class="uk-card uk-card-default uk-card-body uk-width-1-1")
        div(class="uk-form-controls")
            input(class="uk-input uk-button-primary", id="form-submit", type="submit", value="Calculate and Preview Order")