extends layout

block content
  if success.length > 0
    for message in success
      div(class="uk-alert-success", uk-alert)
        a(class="uk-alert-close", uk-close)
        p= message
  if error.length > 0
    for message in error
      div(class="uk-alert-danger", uk-alert)
        a(class="uk-alert-close", uk-close)
        p= message
  form(action="/buyContract", method="post", class="uk-form-horizontal")
    fieldset.uk-fieldset
      if ticketNumber
        input(type="hidden", value=ticketNumber, name="ticketNumber")
      div(class="uk-flex uk-flex-center uk-margin")
        div(class="uk-card uk-card-body uk-width-1-1")
          h3(class="uk-card-title") Character Name
          div(class="uk-form-controls")
            if user
              input(class="uk-input", id="form-character-name", name="form-character-name", type="text", value=user.CharacterName, required="true", readonly)
            else
              input(class="uk-input", id="form-character-name", name="form-character-name", type="text", required="true")
      div(class="uk-flex uk-flex-center uk-margin")
        div(class="uk-card uk-card-body uk-width-1-1")
          h3(class="uk-card-title") Discord Name
          p (Actual name, e.g. asdf#1234)
          div(class="uk-form-controls")
            if user
              input(class="uk-input", id="form-discord-name", name="form-discord-name", type="text", value=user.DiscordName, required="true", readonly)
            else
              input(class="uk-input", id="form-discord-name", name="form-discord-name", type="text", required="true")
      
      ul(class="uk-subnav uk-subnav-pill", uk-switcher)
        each list, material in materialList
          li
            a(href="#") #{material}
      
      ul(class="uk-switcher")
        each list, material in materialList
          li
            div(class="uk-grid uk-child-width-auto uk-flex uk-flex-center uk-margin uk-animation-fade")
              each val, key in list
                - let keyNoSpace = key.replace(/ /g, "");
                div(class="uk-card uk-card-secondary uk-card-body")
                  h3.uk-card-title #{key}
                  img(width="100", height="", alt="", uk-img="data-src:/images/#{keyNoSpace}.png" class="uk-svg")
                  p Price Offered: #{val['price'].toLocaleString(undefined)} ISK
                  p Demand: #{val['demand']}
                  - let unitCount = '0';
                  - if (val['units']) unitCount = `${val['units']}`;
                  - let maxValue = "";
                  - if (stockList[key] || stockList[key] === false) maxValue = `${stockList[key] || 0}`;
                  - let maxString = "";
                  - if (stockList[key] || stockList[key] === false) maxString = `In-Stock: ${(stockList[key] ? stockList[key].toLocaleString(undefined) : false ) || 'Disabled'}`;
                  label(class="uk-form-label", id="form-label-#{keyNoSpace}", for="form-#{keyNoSpace}") Units #{maxString}
                  div(class="uk-form-controls")
                    input(class="uk-input", id="form-#{keyNoSpace}", name="form-#{keyNoSpace}", type="number", min="0", max=maxValue, value=unitCount, required="true")
      
      div(class="uk-card uk-card-body uk-width-1-1")
        div(class="uk-form-controls")
            input(class="uk-input uk-button", id="form-submit", type="submit", value="Calculate and Preview Order")