extends layout

block content
    if success.length > 0
        for message in success
            div(class="uk-alert-success", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    if error.length > 0
        for message in error
            div(class="uk-alert-danger", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    div(class="uk-grid uk-child-width-auto")
        div(class="uk-card uk-card-body")
            h3(class="uk-card-title") Character Name: #{characterName}
        div(class="uk-card uk-card-body")
            h3(class="uk-card-title") Discord Name: #{discordName}
        div(class="uk-card uk-card-body")
            h3(class="uk-card-title") Price Sheet Used
            p= priceDatetime
        div(class="uk-card uk-card-body")
            h3(class="uk-card-title") Demand Sheet Used
            p= demandDateTime
        div(class="uk-card uk-card-body")
            h3(class="uk-card-title") Type: #{contractType}
        div(class="uk-card  uk-card-body")
            h3(class="uk-card-title") Status: #{status}
    div(class="uk-grid uk-child-width-auto uk-flex uk-flex-center uk-margin uk-animation-fade")
        each val, key in materialOrder
          div(class="uk-card uk-card-body")
            h3.uk-card-title #{key}
            img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
            p Units: #{val.toLocaleString(undefined)} @ #{priceRef[key].toLocaleString(undefined)} ISK each
    div(class="uk-card uk-card-body")
        h3(class="uk-card-title") Contract Total
        h4 #{Math.round(priceTotal).toLocaleString(undefined)} ISK
    if user
        if user.isAdmin && status == "Pending"
            form(method="post", class="uk-form-horizontal")
                fieldset(class="uk-fieldset")
                    input(type="hidden", id="form-ticket-number", name="formTicketNumber", value=ticketNumber)
                    input(type="hidden", id="form-type", name="formType", value=contractType)
                    div(class="uk-grid uk-child-width-auto")
                        div(class="uk-card  uk-card-body uk-width-1-2")
                            div(class="uk-form-controls")
                                input(class="uk-input uk-button", id="form-accept", type="submit", value="Accept Order", formaction="#{ticketNumber}/accept")
                        div(class="uk-card  uk-card-body uk-width-1-2")
                            div(class="uk-form-controls")
                                input(class="uk-input uk-button", id="form-reject", type="submit", value="Reject Order", formaction="#{ticketNumber}/reject")
        if user.CharacterName == characterName && status != 'Cancelled' && status != 'Accepted' && status != 'Rejected'
            form(method="post", class="uk-form-horizontal")
                fieldset(class="uk-fieldset")
                    input(type="hidden", id="form-ticket-number", name="formTicketNumber", value=ticketNumber)
                    input(type="hidden", id="form-type", name="formType", value=contractType)
                    div(class="uk-grid uk-child-width-auto")
                        div(class="uk-card  uk-card-body uk-width-1-2")
                            div(class="uk-form-controls")
                                input(class="uk-input uk-button", id="form-accept", type="submit", value="Cancel Order", formaction="#{ticketNumber}/cancel")
                        div(class="uk-card  uk-card-body uk-width-1-2")
