extends layout

block content
    if success.length > 0
        for message in success
            div(class="uk-alert-success", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    if error.length > 0
        for message in error
            div(class="uk-alert-danger", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    form(method="post", class="uk-form-horizontal")
        fieldset.uk-fieldset
            legend.uk-legend Set Demands
            
            ul(class="uk-subnav uk-subnav-pill", uk-switcher)
                li
                    a(href="#") Settings
                li
                    a(href="#") Demand Config
                each list, material in materialList
                    li
                        a(href="#") #{material}

            ul(class="uk-switcher uk-margin")
                li
                    div(class="uk-grid uk-child-width-auto uk-flex uk-flex-center uk-margin uk-animation-fade")
                li
                    div(class="uk-grid uk-child-width-auto uk-flex uk-flex-center uk-margin uk-animation-fade", id="demand-list")
                        div(class="uk-card uk-card-body")
                            button(class="uk-button uk-button-default", id="demand-list-add", onclick="addDemand();") Add Demand
                            input(type="hidden", id="demand-count", name="demand-count", value="#{Object.keys(demands).length}")
                        - let index = 1;
                        each val, key in demands
                            div(class="uk-card uk-card-body", id="demand-#{index}")
                                label(class="uk-card-title", for="demand-#{index}-name") Name:
                                input(class="uk-input", id="demand-#{index}-name", name="demand-#{index}-name", required="true", value="#{key}", onchange="updateOptionName(this, #{index - 1});")
                                input(class="uk-input", type="float", id="demand-#{index}-valueText", name="demand-#{index}-valueText", value="#{val}", required="true", onchange="updateRange(this, #{index});")
                                input(class="uk-range", type="range", id="demand-#{index}-value", name="demand-#{index}-value", value="#{val}", min="0", max="2", step="0.05", onchange="updateRange(this, #{index});")
                                button(class="uk-button uk-button-default", onclick="removeDemand(#{index});") Remove
                            - index += 1;
                each list, material in materialList
                    li
                        div(class="uk-grid uk-child-width-auto uk-flex uk-flex-center uk-margin uk-animation-fade")
                            each val, key in list
                                div(class="uk-card uk-card-body")
                                    h3(class="uk-card-title") #{key}
                                    img(width="100", height="", alt="", uk-img="data-src:/images/#{key}.png" class="uk-svg")
                                    -let sellDemand = val['Sell'];
                                    p Sell Demand: #{sellDemand} (#{demands[sellDemand]})
                                    -let buyDemand = val['Buy'];
                                    p Buy Demand: #{buyDemand} (#{demands[buyDemand]})
                                    label(class="uk-form-label", for="form-sell-#{key}") Sell Demand
                                    div(class="uk-form-controls")
                                        select(class="uk-select", id="form-sell-#{key}", name="form-sell-#{key}")
                                            each demandValue, demandName in demands
                                                if demandName == val['Sell']
                                                    option(selected) #{demandName}
                                                else
                                                    option #{demandName}
                                    label(class="uk-form-label", for="form-buy-#{key}") Buy Demand
                                    div(class="uk-form-controls")
                                        select(class="uk-select", id="form-buy-#{key}", name="form-buy-#{key}")
                                            each demandValue, demandName in demands
                                                if demandName == val['Buy']
                                                    option(selected) #{demandName}
                                                else
                                                    option #{demandName}

            div(class="uk-card uk-card-body uk-width-1-1")
                div(class="uk-form-controls")
                    input(class="uk-input uk-button", id="form-submit", type="submit", value="Set Demands", formaction="")

